<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{block title}}</title>
</head>
<body>
    <header>
        {{include header}}
    </header>
    <main>
        <section class="side-bar">
            <div class="twitter">
                <a class="twitter-timeline" data-theme="dark" href="https://twitter.com/studio_uncle?ref_src=twsrc%5Etfw">Tweets by studio_uncle</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="recent">

            </div>
        </section>
        <section class="main">        
            <div class="slider">

            </div>
        </section>
    </main>
    <footer>
        {{include footer}}
    </footer>
</body>
</html>