<section class="contact-list">
    <div class="numbers">
        0745881021 <hr>
        0705006471h <hr>
      
    </div>
    <div class="mails">
        unclestudioworld@gmail.com <hr>
        unclesstudioworld2@gmail.com <hr>
    </div>
    <div class="social-media-links">
        <span class="fab fa-facebook-f">    Like Our Page</span> <hr>
        <span class="fab fa-twitter">   Follow us on Twitter</span><hr>
        <span class="fab fa-instagram"> Follow us on Instagram</span><hr>
    </div>
</section>

<h4 class="copyright">All rights reserved | Uncle S Studio World &copy;2020</h4>