<section class="contact-list">
    <div class="numbers">
        0745881021 <hr>
        0705006471 <hr>
        0726857070 
    </div>
    <div class="mails">
        unclestudioworld@gmail.com <hr>
        unclesstudioworld2@gmail.com
    </div>
    <div class="social-media-links">
        <span class="fa-facebook 2x">Like Our Page</span> <br>
        <span class="fa-twitter">Follow us on Twitter</span><br>
        <span class="fa-instagram">Follow us on Instagram</span>
    </div>
</section>

<h4>All rights reserved | Uncle S Studio World &copy;2020</h4>