
<div class="title-bar">
    {% load static %}
    <a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt="Logo" id="logo"></a>
    <div class="name-slogan">
        <p>{{page}}</p>
    </div>
</div>
<nav>
    <button class="drop-menu" id="drop-menu"><i class="fas fa-bars fa-2x" id= "bar"></i></i></button>
    <ul>
        <li><a href="{% url 'index' %}">Home </a></li>
        <li><a href="#">Packages </a></li>
        <li><a href="{% url 'portfolio' %}">Portfolio </a></li>
        <li><a href="{% url 'contact' %}">Contact Us</a></li>
    </ul>
</nav>